[general]
maxexpirey=3600
defaultexpirey=3600
context=default
bindport=5060
bindaddr=0.0.0.0
srvlookup=yes
;OpenGateの場合allowguestはno
allowguest=no
disallow=all
allow=ulaw
allow=alaw
allow=gsm

register => {{ hikari_denwa_telno }}@{{ hikari_denwa_domain }}@{{ hikari_denwa_sip_server }}/{{ hikari_denwa_telno }}

[ntt]
type=peer
host={{ hikari_denwa_sip_server }}
context=incoming
fromdomain={{ hikari_denwa_domain }}

[phone](!)
type=friend
canreinvite=no
host=dynamic
dtmfmode=rfc2833
callgroup=1
pickupgroup=1
disallow=all
allow=ulaw

[201](phone)
username=201
secret=pass

[202](phone)
username=202
secret=pass

[203](phone)
username=203
secret=pass

[204](phone)
username=204
secret=pass

[205](phone)
username=205
secret=pass

[206](phone)
username=206
secret=pass

[207](phone)
username=207
secret=pass

[208](phone)
username=208
secret=pass

